input{
    margin-left: 10px;
}
button{
    margin-left: 10px;
}
label{
    margin-left: 15px;
}
#main-title, .step, #history-title, #comments-title, #subtitle{
    text-align: center;
    margin-top: 25px;
}

h1, h2, h4{
    font-family: 'Ovo', serif;
}

label, .card{
    font-family: 'Muli', sans-serif;
}

input{
    border-radius: 5px;
}

#hist,#comm{
    border: 2px solid gray;
    border-radius: 7px;
}
#history-back, #history-next{
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

#add-comment{
    text-align: center;
}

.warning{
    color: red;
}